<nav class="navbar d-flex"> 
  <div>
    <%= link_to 'New Listing', new_listing_path, class: 'btn btn-success' %> 
    <%= link_to 'My Conversations', conversations_path, class: 'btn btn-info' %>
  </div>
  <p>Logged as: <%= current_user.email %></p>
</nav>
  <h1 class="text-center">Listings</h1> 

<div class="row jumbotron">
  <% @listings.each do |listing| %>
        <div class="col-md-3">
          <% if listing.image %>
            <p><%= image_tag listing.image_url %>
          <% end %>
          <h4><%= link_to listing.title, listing %></h4>
          <p><strong><%= listing.description %></strong></p>
          <p><em><%= listing.full_address %></em></p>
          <p>Beds: <%= listing.bed_count %></p>
          <p>Bedrooms: <%= listing.bedroom_count %>
          <p>Bathrooms: <%= listing.bathroom_count %></p>
          <p>Per night: <%= listing.night_fee %></p>
          <p>Cleaning: <%= listing.cleaning_fee %>/w</p>
          <br>
          <% if listing.host_id == current_user.id %>
            <p><%= link_to 'Edit', edit_listing_path(listing), class: 'btn btn-danger' %></p>
          <% else %>
            <p><%= link_to 'Contact', new_conversation_path, class: 'btn btn-primary' %></p>
          <% end %>
         </div>
  <% end %>
</div>

