<ul class="menu">
  <li><a href="#">Room type</a></li>  
  <li><a href="#">Price range</a></li>  
  <li><a href="#">Instant book</a></li>  
  <li><a href="#">More filters</a></li>  
</ul>
<br>

<% if @listings.nil? %>
  <h1>There are currently no properties listed.</h1>
<% else %>    
  <div class="row">
    <div class="col-md-9">
    <% @listings.each do |listing| %>
      <div class="figure">
        <% if listing.image %>
          <%= link_to image_tag(listing.image_url), listing_path(listing) %>
        <% end %>
        <p><strong><%= listing.night_fee %> / <%= listing.description %></strong></p>
        <p class="bedrooms"><%= listing.bedroom_count %> |
        <span class="bathrooms"><%= listing.bathroom_count %></span></p>
        <% if user_signed_in? && listing.host_id == current_user.id %>
          <%= link_to 'Edit', edit_listing_path(listing), class: 'btn btn-danger' %>
          <%= link_to 'Messages', new_message_path(host_id: listing.host_id ), 
              class: 'btn btn-primary' if Conversation.where(host_id: listing.host_id) %>
        <% else %>
          <%= link_to 'Contact', new_message_path(host_id: listing.host_id), class: 'contact' %>
        <% end %>
      </div>
    <% end %>
    </div>
    <div class="col-md-3 map">
      <div id="map"></div>
    </div>
  </div>

  <script>
    function initMap() {
      const firstListing = {lat: <%= @listings && @listings.first.latitude.to_f %>, lng: <%= @listings && @listings.first.longitude.to_f %>};
      const map = new google.maps.Map(document.getElementById('map'), {
        zoom: 4,
        center: firstListing
      });
      let marker = new google.maps.Marker({
        position: firstListing,
        map: map
      });
    }
  </script>

    <script async defer 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyI8EmokW5pwjYktSAQ_Q8S_438uOMong&callback=initMap"></script>
<% end %>
