<ul class="menu">
  <li><a href="#">Room type</a></li>  
  <li><a href="#">Price range</a></li>  
  <li><a href="#">Instant book</a></li>  
  <li><a href="#">More filters</a></li>  
</ul>
<br>

<div class="row">
  <div class="col-md-9">
  <% @listings.each do |listing| %>
    <div class="figure">
      <% if listing.image %>
        <%= link_to image_tag(listing.image_url), listing_path(listing) %>
      <% end %>
      <p><strong><%= listing.night_fee %> / <%= listing.description %></strong></p>
      <p class="bedrooms"><%= listing.bedroom_count %> |
      <span class="bathrooms"><%= listing.bathroom_count %></span></p>
      <% if listing.host_id == current_user.id %>
        <%= link_to 'Edit', edit_listing_path(listing), class: 'btn btn-danger' %>
        <%= link_to 'Messages', new_message_path(host_id: listing.host_id ), 
            class: 'btn btn-primary' if Conversation.where(host_id: listing.host_id) %>
      <% else %>
        <%= link_to 'Contact', new_message_path(host_id: listing.host_id), class: 'contact' %>
      <% end %>
    </div>
  <% end %>
  </div>
  <div class="col-md-3 map">
    <iframe src="https://www.google.com/maps/embed/v1/place?q=40.7127837,-74.0059413&amp;key=AIzaSyARfRdxJ2qK1Cn-QnDbdMrZHatNIOW-Vjo"></iframe>
  </div>
</div>

