
<div class="jumbotron">
  <h2><%= @listing.title %></h2>
  <p><%= image_tag @listing.image_url if @listing.image %></p>
  <p><strong><%= @listing.description %></strong></p>
  <p><strong>Address: </strong><%= @listing.full_address %></p>
  <p><strong>Coords: </strong><%= @listing.latitude %>, <%= @listing.longitude %></p>
  <p class="beds"><%= @listing.bed_count %></p>
  <p class="bedrooms"></strong><%= @listing.bedroom_count %></p>
  <p class="bathrooms"></strong><%= @listing.bathroom_count %></p>
  <p><strong>Per Night: </strong><%= @listing.night_fee %></p>
  <p><strong>Cleaning: </strong><%= @listing.cleaning_fee %>/w</p>
  <br>
  <%= link_to 'Edit', edit_listing_path(@listing), 
      class: 'btn btn-danger' if @listing.host_id == current_user.id %>
  <%= link_to 'Back', listings_path, class: 'btn btn-primary' %>
</div>
